
.trans-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border: 1px solid #cbd5e1;
    padding-left: 10px;
    padding-right: 10px;

}

.trans-title {
    color: #475569;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.delete-cont {
    display: flex;
    width: 10px;
}

.delete-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.delete-icon {
    color: rgb(24, 23, 23);
    font-size: 22px;
    
}
  
